body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input-container{

}
.homepage-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage-container .input-container input{
  font-size: 24px;
  display: block;
  padding: 10px 20px;
  margin: 10px;
  border: 1px solid rgb(221, 221, 221);
}
.homepage-container .input-container button{
  display: block;
  font-size: 24px;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
}